.card-info{
 
    display: flex;
   
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
   
    .input-field{
        border-radius: 5px;
        padding: 10px;
        margin: 2px;
        display: flex;
        ::placeholder {
            color: red;
          }
       
    }
    .add_card_btn{
    outline: none;
    border: none;
    padding: 9px 14px;
    background: #3dc738;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 800;
    transition: 0.3s ease-out;
    border-radius: 4px;
    // width: 100%;
    margin-top: 15px;
    position: right;
    }

    
}
.invoice{
    width: 200px;
    max-width: 200px;
    visibility: hidden !important;
    *{
        font-size: 12px;
        font-family: 'Times New Roman';
    }
    td,
    th,
    tr,
    table {
    border-top: 1px solid black;
    border-collapse: collapse;
    }
    td.description,
    th.description {
    width: 75px;
    max-width: 75px;
    }

    td.quantity,
    th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    }

    td.price,
    th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    }
    .center{
        text-align: center;
        align-content: center;
    }

}
@media print{
    body {
        visibility: hidden;
    }
    .invoice
    {
        visibility: visible !important;
    };
    .hide-print{
        visibility: hidden !important;
    }
    .invoice{
        position: absolute;
        left: 0;
        top: 0;
    }
}

   
